{% extends 'QuartetKakarotBundle::myofficeBase.html.twig' %}

{% block headline %}休日カレンダー　編集{% endblock headline %}

{% block content_row %}
    <div class="container">
        <div class="contents">
            {% if message is not empty %}
                <div class="alert alert-danger">
                    <p>{{message}}</p>
                </div>
            {% endif %}
            {{ form_start(edit_form) }}
                <table class="table table-striped">
                    <tr>
                        <td class="holidayscalendar_title_td">{{ form_label(edit_form.name, '休日名') }}</td>
                        <td colspan="6">{{ form_widget(edit_form.name) }}</td>
                    </tr>
                    <tr>
                        <td class="holidayscalendar_title_td">{{ form_label(edit_form.date, '日付') }}</td>
                        <td class="holidayscalendar_form_td">{{ form_widget(edit_form.date.year) }}</td>
                        <td class="holidayscalendar_character_td">/</td>
                        <td class="holidayscalendar_form_td">{{ form_widget(edit_form.date.month) }}</td>
                        <td class="holidayscalendar_character_td">/</td>
                        <td class="holidayscalendar_form_td">{{ form_widget(edit_form.date.day) }}</td>
                        <td class="holidayscalendar_space_td"></td>
                    </tr>
                </table>
            {{ form_end(edit_form) }}
            <br>
            <a href="{{ path('holidayscalendar') }}" class="btn btn-warning" role="button">一覧に戻る</a>
        </div>
    </div>
{% endblock content_row %}
