{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block head %}
<head>
    {% block head_style %}
    {% stylesheets
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
        '@QuartetKakarotBundle/Resources/public/less/main.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    {% endblock head_style %}
    <title>{% block title %}カルテットコミュニケーションズ社内ポータルサイト{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ asset('bundles/quartetkakarot/images/favicon.ico') }}" />
</head>
{% endblock head %}

{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: false, inverse: true, id: 'navbar-example' } %}
        {% block brand %}
            <a class="navbar-brand" href="{{ path('myoffice') }}" tabindex="-1">MyOffice</a>
        {% endblock %}
        {% block menu %}
            <ul class="nav navbar-nav">
                <li><a href="{{path('quartet_kakarot_main_index')}}"><img src="{{ asset('bundles/quartetkakarot/images/kakarot.png') }}" width="25" hieght="25">Kakarot</a></li>
                <li><a href="http://kakarot/qcwiki/" target="_blank">QC Wiki</a></li>
                <li><a href="http://quims2.lisket.jp/" target="_blank">QUIMS2</a></li>
                <li><a href="http://private.quartet-communications.com/inquiry/" target="_blank">営業用問い合わせ管理ツール</a></li>
                <li><a href="http://kakarot/kaigi/resroom/resroom.cgi/" target="_blank">会議室予約</a></li>
                <li><a href="http://kakarot/zoho2yayoi/" target="_blank">ZohoのInvoice.csvを変換</a></li>
                <li><a href="http://quartet-communications.com/" target="_blank">オフィシャルサイト</a></li>
            </ul>
        {% endblock %}
    {% endembed %}
{% endblock navbar %}

{% block footer %}
    <p class="text-center">Copyright　&copy; <a href="http://quartet-communications.com/" target="_blank"> Quartet Communications</a>, co., ltd., All rights reserved.</p>
{% endblock footer %}

{% block foot_script_assetic %}{% endblock %}

{% block foot_script %}
{% endblock %}