{% extends '::base.html.twig' %}

{% block body -%}
    <h1>LikeSchedule list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Day</th>
                <th>Groupname</th>
                <th>Duedate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('likeschedule_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.user }}</td>
                <td>{{ entity.day }}</td>
                <td>{{ entity.groupName }}</td>
                <td>{% if entity.dueDate %}{{ entity.dueDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('likeschedule_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('likeschedule_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('likeschedule_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
