{% extends 'QuartetKakarotBundle::myofficeBase.html.twig' %}

{% block headline %}有休承認{% endblock headline %}

{% block content_row %}
    <div class="container">
        <div class="contents">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="paidholiday_list_date">申請者</th>
                        <th class="paidholiday_list_date">有休開始日</th>
                        <th class="paidholiday_list_date">有休終了日</th>
                        <th class="paidholiday_list_approval_note">理由</th>
                        <th class="paidholiday_list_date">申請日</th>
                        <th class="paidholiday_list_button"></th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td class="paidholiday_list_user">{{ entity.author.name }}</td>
                        <td class="paidholiday_list_date">
                            {{ entity.startDate|date('Y/m/d') }}({{daysLabel[entity.startDate|date('w')]}})
                        </td>
                        <td class="paidholiday_list_date">
                            {% if entity.startDate != entity.endDate %}
                               {{ entity.endDate|date('Y/m/d') }}({{daysLabel[entity.endDate|date('w')]}})
                            {% endif %}
                        </td>
                        <td class="paidholiday_list_note">
                            {{ entity.note }}
                        </td>
                        <td class="paidholiday_list_date">{{ entity.created|date('Y/m/d') }}({{daysLabel[entity.endDate|date('w')]}})</td>
                        <td class="paidholiday_list_button">
                            <a href="{{ path('paidholiday_approval_update', { 'id': entity.id }) }}" class="btn btn-info" role="button">承認</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content_row %}
